*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
.header{
    background-color:  rgba(229, 84, 115, 0.10);
    height: 850px;
    
}
.banner{
    margin: 30px 240px 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}    
.banner-title{
    
}   
.banner-item{
    color: #272727;
    font-size: 55px;
    font-weight: bold;
    
    
}
.description{
    color:rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
    
}
.btn{
    background: #E55473;
    border-radius: 8px;
    border: 0;
    padding: 10px;
}
.flower-pic{
    width: 500px;
    height: 800px;
    
}
.deal{
    background-color: rgba(229, 84, 115, 0.05);
    width: 80%;
    margin: auto;
    height: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 190px;
    
}
.deal-title{
    color: #272727;
    margin-left: 240px;
    text-align: center;
}
.pic{
    margin-right: 300px;
}
.item{
    color: #E55473;
}
.deal-description{
    margin-top: 25px;
    margin-bottom: 25px;
    
}