*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
}
.header{
    background-color:  rgba(229, 84, 115, 0.10);
    height: 850px;
    
}
.banner{
    margin: 30px 240px 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}    
.banner-title{
    
}   
.banner-item{
    color: #272727;
    font-size: 55px;
    font-weight: bold;
    
    
}
.description{
    color:rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 50%;
    padding-top:30px ;
    padding-bottom: 30px;
    
    
    
}
.btn{
    background: #E55473;
    border-radius: 8px;
    border: 0;
    padding: 10px;
}
.flower-pic{
    width: 500px;
    height: 800px;
    
}
.section-top{
    text-align: center;
    margin-top: 180px;
}
.section-top-item{
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 35px 240px 0px 265px;
}
.top-item{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.top-item-second{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);

}
.top-item-third{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    
}
.pic-item{
    padding-top: 60px;
    padding-left: 50px;
}
.pic-item-flower{
    padding: 60px 50px 0px 60px;
    
}
.item-tree{
    display: flex;
    justify-content:space-around;
    gap: 2px;
    align-items: center;
    margin: 35px 240px 0px 230px;

}


.deal-item{
    background-color: rgba(229, 84, 115, 0.05);
    width: 80%;
    margin: auto;
    height: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 190px;
    
}
.deal-title{
    color: #272727;
    margin-left: 240px;
    text-align: center;
}
.pic{
    margin-right: 300px;
}
.item{
    color: #E55473;
}
.deal-description{
    padding: 25px;
    padding: 25px;
    
}
.social-description{
    padding: 25px;
}
.social-item{
    text-align: center;
    margin-top: 128px;
    
}
.social-pic{
    margin-top: 30px;
    width: 342px;
    height: 396px;
    display: flex;
    justify-content: space-between;
    margin-left:250px ;
    margin-right:240px ;
    gap: 24px;
}
