*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'open sans',sans-serif;
}
/* header related style */
.header{
    background-color:  rgba(229, 84, 115, 0.10);
    height: 850px;
    width: 100%;
}
.banner{
    margin: 30px 240px 0px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    
   
.banner-item{
    color: #272727;
    font-size: 55px;
    font-weight: 800;
}
.description{
    color:rgba(39, 39, 39, 0.60);
    font-size: 18px;
    width: 50%;
    padding-top:30px ;
    padding-bottom: 30px;
}
.btn{
    background: #E55473;
    border-radius: 8px;
    border: 0;
    padding: 10px 20px 10px 20px;
}
.flower-pic{
    width: 500px;
    height: 800px;
    padding-top: 50px;
    
}
/* section-top releted style */
.section-top{
    text-align: center;
    margin-top: 180px;
}
.section-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.section-top-item{
    display: flex;
    gap: 24px;
    align-items: center;
    margin: 35px 240px 0px 265px;
}
.top-item{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
}
.top-item-second{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(5, 151, 160, 0.15);

}
.top-item-third{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(71, 125, 17, 0.15);
    
}
.pic-item{
    padding-top: 100px;
    padding-left: 50px;
}
.pic-item-flower{
    padding: 110px 50px 60px;
    
}
.pic{
    padding: 65px 60px 40px;

}
.item-pink{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 35px 340px 0px 240px;

}
/* section-deal related style */
.deal-item{
    background-color: rgba(229, 84, 115, 0.05);
    width: 100%;
    height: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 190px;
}
.deal-title{
    color: #272727;
    margin-left: 350px;
    text-align: center;
}
.deal-title-item{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.pic{
    margin-right: 350px;
}
.item{
    color: #E55473;
}   
.deal-description{
    padding: 25px;
}
/* section-circle related style */
.circle-item{
    background-color:rgba(5, 151, 160, 0.15);
    width: 500px;
    height: 500px;
    border-radius: 250px;
}
.circle{
    display: flex;
    margin-left: 300px;
    margin-top: 100px;
    align-items: center;
    justify-content: space-around;
}
.circle-description{
    padding-top: 25px;
    padding-bottom: 25px;
}
.circle-title{
    margin-right: 240px;
}
.circle-title-item{
    font-size: 40px;
    font-weight: 800;
}
/* section-social related style */
.social-description{
    padding: 25px;
}
.social-item{
    text-align: center;
    margin-top: 128px;
    
}
.social-title{
    font-size: 40px;
    font-weight: 800;
}
.social-pic{
    margin-top: 30px;
    width: 342px;
    height: 396px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 240px 100px 220px;
    gap: 24px;
}
/* section-form related style */
.form{
    width: 1440px;
    height: 449px;
    margin: auto;
    background-image: url("flower asset/Rectangle\ 9.png");
    background-repeat: no-repeat;
    text-align: center;
}
.form-item{
    padding-top: 130px;
    padding-bottom: 50px;
}
.form-item-title{
    font-size: 40px;
    font-weight: 800;
}
.first{
    padding-top: 16px;
}

.email{
    width: 600px;
    height: 50px;
}
/* footer related style */
.footer{
    width: 100%;
    height: 450px;
    background-color: black;
    margin-top: 50px;
}
.footer-item{
    color: #FFF;
    text-align: center;
}
.footer-title-item{
    padding-top: 130px;
}
.footer-title{
    font-size: 40px;
    font-weight: 800;
}
.footer-description{
    font-weight: lighter;
    padding-top: 25px;
    padding-bottom: 25px;
}
.copy{
   color: rgb(99, 98, 98);
}
